.container {
  padding: 20px;
  display: inline-flex;
  width: 100%;
}

.wrap {
  border:1px solid #000;
  padding: 20px 40px;
}

.wrap.left {
  width: 35%;
}

.wrap.right {
  width: 65%;
  border-left: 0;
}

.bulk {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #e0e0e0;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.wrap-btn {
  display: flex;
}